notes.txt
outputs/*
!outputs/scores_*.csv
__pycache__/
.cache/
models/
scripts/wandb
scripts/logs
config/*.log

# Large prediction files
typicality/hypernym_predictions/cars_3token_noun_predictions.csv
typicality/hypernym_predictions/cars_2token_noun_predictions.csv
typicality/hypernym_predictions/car_all_noun_predictions.csv
typicality/hypernym_predictions/cars_all_noun_predictions.csv

# Large binary files
*.npy

# Typicality analysis CSVs
typicality/*.csv
typicality/*.log

